{
 "files": ["test/test_json_object.c", "src/*.c", "deps/RedisModuleSDK/rmutil/*.c", "deps/jsonsl/*.c"],
 "compilation_cmd": "-D_GNU_SOURCE -Ideps/RedisModuleSDK/ -Ideps/RedisModuleSDK/rmutil/ -Ideps/jsonsl -I.",
 "slevel": 2000,
 "merge-after-loop": false,
 "split-return": "full",
 "machdep": "gcc_x86_32",
 "raw_options":
    { "-val-malloc-returns-null": "false",
      "-val-clone-on-recursive-calls": "true",
      "-val": "true",
      "-val-builtin": "strtod:tis_strtod_interpreter,realloc:tis_realloc"
    }
}
